
 

<link href="../boot/css/jquery-ui.css" rel="stylesheet">
<script src="../boot/js/jquery.min.js"></script>
<script src="../boot/js/jquery-ui.js"></script>

<table>
    <tbody>
        <tr>
            <td>1</td>
            
        </tr>
        <tr>
            <td>3</td>
           
        </tr>
        <tr>
            <td>5</td>
            
        </tr>
        <tr>
            <td>7</td>
           
        </tr>
        <tr>
            <td>9</td>
          
        </tr>  
    <tbody>    
</table>

 
  <script>
  $( "tbody" ).sortable();
  </script>

</body>
</html>